ejercicios_xsl_dtd/ejercicio2.dtd

<!ELEMENT visitas (visita+)>
<!ELEMENT visita (fecha,guia,visitantes)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT guia (#PCDATA)>
<!ELEMENT visitantes (visitante, visitante?, visitante?)>
<!ELEMENT visitante (#PCDATA)>
<!ATTLIST visitante
    idioma (español | ingles | frances) #REQUIRED
>
<!ATTLIST visitante edad NMTOKEN #REQUIRED>