ejercicios_xsl_dtd/ejercicio3.dtd

<!ELEMENT participaciones (participacion+)>
<!ELEMENT participacion (titulo,foto,comentarios?)>
<!ATTLIST participacion
    categoria (paisaje | retrato | abstracto) #REQUIRED
>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT foto (titulo_foto,archivo)>
<!ELEMENT titulo_foto (#PCDATA)>
<!ELEMENT archivo (#PCDATA)>
<!ELEMENT comentarios (#PCDATA)>